h1 {
    color: lightskyblue;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: fit-content;
}

