h1 {
    color: lightskyblue;
}

html {
    height: 120vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: fit-content;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: fit-content;
}

.image1 img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: fit-content;
}